@using User_Identity_App.ViewModel;
@model ForgetPasswordVm;
@{
    ViewData["Title"] = "Froget Password";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h4> Forget Pasword?</h4>
        <form asp-controller="Account" asp-action="ForgetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-lable"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <input class="btn btn-outline-success" style="float:right;" type="submit" value="Submit">
                </div>
            </div>

        </form>
    </div>

</div>
