@using User_Identity_App.ViewModel;
@model ResetPasswordVm;
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h4> Forget Pasword?</h4>
         @if (TempData["Error"] != null)
        {
            <div class="col-md-12  alert alert-danger">
                <span>
                    <b>Sorry!</b> - @TempData["Error"]
                </span>
            </div>
        }
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-lable"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="Password" class="control-lable"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="ConfrimPassword" class="control-lable"></label>
                    <input asp-for="ConfrimPassword" class="form-control" />
                    <span asp-validation-for="ConfrimPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input class="btn btn-outline-success" style="float:right;" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>